@model ProjectBaker.Web.ViewModels.RegisterViewModel;

@{
    ViewData["Title"] = "Secret";
}

<h1>Secret</h1>
<form action="RegisterAsync" method="post">
    <input type="text" />
    <input type="button" />
</form>
